.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background: var(--color-nav-bg);
  box-shadow: 0 -3px 14px rgba(0, 0, 0, 0.25);
  z-index: 100;
  
}

/* hide when desktop */
@media (min-width: var(--bp-laptop)) {
  .nav {
    display: none;
  }
}

/* Theme colors */
:root {
  --color-nav-bg: #ffffff;
  --color-nav-icon: #222;
  --color-nav-active: #ffb400;
}

[data-theme="dark"] {
  --color-nav-bg: #000c19;
  --color-nav-icon: #ddd;
  --color-nav-active: #ffc700;
}

/* layout */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  max-width: 800px;

  display: flex;
  justify-content: space-between;
}

.item {
  flex: 1;
  text-align: center;
}

.button {
  width: 100%;
  background: none;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6px;
  color: var(--color-nav-icon);

  font-size: 0.75rem;

  transition: color 0.15s ease, transform 0.15s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.active {
  color: var(--color-nav-active);
}

.icon {
  font-size: 1rem;
}

.icon svg {
  width: 1.2rem;
  height: 1.2rem;
}

.label {
  margin-top: 2px;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
