.hero {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.image {
  width: clamp(150px, 45vw, 300px);
  filter: drop-shadow(0 18px 30px rgba(0, 0, 0, 0.9));
}

.heading {
  margin: 0 16px 0 0;
  font-size: clamp(3.5rem, 10vw, 3rem);
  color: var(--color-text);
  line-height: 1;
  text-align: left;
}

.subHeading {
  color: var(--color-primary-pink);
}