.wrapper {
  display: inline-block;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
}

.svg {
  /* width: 100%;
  max-width: 360px; */
  height: auto;
  will-change: transform;
  width: clamp(250px, 45vw, 300px);
  filter: drop-shadow(0 18px 30px rgba(0, 0, 0, 0.9));
  pointer-events: none;
}
