@import "./variables.css";
@import "./fonts.css";
@import "./typography.css";
@import "./forms.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  opacity: 1;
  font-size: var(--fs-body);
  font-family: var(--font-body);
  line-height: var(--lh-normal);
  color: var(--color-text);
}

/* Elements */
img {
  max-width: 100%;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-body);
  cursor: pointer;
  border: none;
  background: none;
}

main {
  min-height: 100vh;
}

/* Gatsby Image Overrides */
.gatsby-image-wrapper img {
  border-radius: var(--radius-md);
}

.gatsby-image-wrapper img[src*="base64"] {
  image-rendering: pixelated;
}
