/* Reset / base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--color-text);
}

/* Responsive text scaling */
h1, h2, h3, p {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
}

span {
  color: var(--color-primary-pink);
}

main {
  margin: auto;
  max-width: 1600px;
}

.container {
  padding: 0 10%;
}