.main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 64px; /* space for tab bar */
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
