.navbar {
  margin-bottom: 3rem;
  padding: 2rem 1rem;
  background-color: var(--color-primary);
}

.navList {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navList li {
  transition: transform 0.3s;
}

.navList li:hover {
  --rotate: -2deg;
  transform: rotate(var(--rotate));
}

.navList li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}